/*
	Default Z-index's
	Scene
	1: Non-active Background
	2: Active Background
	3: Actors
	4: Front Actor
	5: Parent EV CG
	6: Overlay EV CG
	7: Non-Active Flash Effect
	8: Active Flash Effect
	9: Black fade in
	10: UI
*/
:root {
	--cg-width:  150px;
	--cg-height:  100px;
	--cg-spacing:  10px;
	--cg-columns:  5;
	--cg-rows:  6;
	--ui-animation-speed: 1000ms;
}
@font-face {
	font-family: "ipagp";
	src: url("../fonts/ipagp.ttf") format("truetype");
}
@font-face {
	font-family: "ipag";
	src: url("../fonts/ipag.ttf") format("truetype");
}
@font-face {
	font-family: "ipam";
	src: url("../fonts/ipam.ttf") format("truetype");
}
#header{
	margin: 15px auto;
	width: 960px;
	height: 30px;
}
#header input[type=button]{
	float: left;
	height: 100%;
	width: 25%;
	background: #ddd;
	border: none;
	font-size: 24px;
	font-weight: bold;
	margin-right: 5px;
}
#header input[type=button]:active{
	background: #bbb;
}
#footer{
	margin: 15px auto;
	width: 960px;
	height: 30px;
}
#footer input[type=button]{
	float: left;
	height: 100%;
	width: 25%;
	background: #ddd;
	border: none;
	font-size: 24px;
	font-weight: bold;
	margin-right: 5px;
}
#footer input[type=button]:active{
	background: #bbb;
}
#page-select{
	float: left;
	position: relative;
}
#page-number {
	background: #2f2f2f;
	height: 30px;
	color: white;
	border: none;
	padding: 0;
	margin: 0;
	position: absolute;
	left: 52px;
	font-size: 25px;
	width: 132px;
	font-weight: bold;
	letter-spacing: 3px;
	text-align: center;
}
#prev-page {
	height: 52px;
	width: 52px;
	background-image: url("../ui/arrow_left_icon.png");
	position: absolute;
	top: -11px;
}
#next-page {
	height: 52px;
	width: 52px;
	background-image: url("../ui/arrow_right_icon.png");
	position: absolute;
	left: 184px;
	top: -11px;
}


#content {
	width: 960px;
	height: 720px;
	min-height:720px;
	max-height:871px;
	margin: 0 auto;
	padding: 24px 21px;
	background-image: url("../ui/pc_game_frm.png");
	background-size: 1002px 768px;
	transition: height var(--ui-animation-speed), background-size var(--ui-animation-speed);
	overflow: hidden;
}
#content-wrap {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

#scene-select {
	width: 938px;
	height: 702px;
	padding: 9px 11px;
	background-image: url("../ui/BG_0005.png");
	background-position: center;
	position: absolute;
	top: 0px;
/* 	display: none; */
	z-index: 1;
}
#cg-wrapper {
	display: grid;
	grid-template-columns: repeat(var(--cg-columns), var(--cg-width));
	grid-template-rows: repeat(var(--cg-rows), var(--cg-height));
	grid-gap: var(--cg-spacing);
	justify-content: center;
	height:702px;
}
.cg-container {
	cursor: pointer;
	position: relative;
	overflow: hidden;
	background-repeat: no-repeat;
	/* 133% leaves a black column to the right 133.x leaves a dark coloured column
	to the right 134% maybe gets rid of a column but looks cleaner. */
	background-size: 134%;
	background-position: center;
}
.cg-img {
	width: 133.7%;
	height: 100%;
	position: absolute;
	left: -16.67%;
}

#scene-viewer {
	height: 100%;
	width: 100%;
	background: black;
	position: absolute;
	top: 0px;
	overflow: hidden;
	z-index: 0;
	opacity: 0;
	transition: opacity var(--ui-animation-speed);
}
.viewer-main-class {
	width: 100%;
	height: 720px;
	position: absolute;
	top: 0px;
}
.viewer-large-image {
	background-position: center;
}
.text-box-text {
	width: 650px;
	height: 95px;
	position: absolute;
	top: 30px;
	left: 200px;
	overflow-wrap: break-word;
	white-space: normal;
}
.name-plate  {
	height: 64px;
	width: 468px;
	position: absolute;
	top: -32px;
	left: 50px;
	background-image: url("../ui/Scene_name_base1.png");
	text-align: center;
	line-height: 48px;
	font-weight: bold;
}
.text-box {
	height: 151px;
	width: 100%;
	position: absolute;
	bottom: 0px;
	background-image: url("../ui/Scene_text_base1.png");
	text-shadow: 1px 1px #000, -1px 1px #000, 1px -1px #000, -1px -1px #000, 1px 1px 5px #555;
	color: white;
	font-family: ipagp;
	font-size: 28px;
	white-space: nowrap;
	/* background-size: 960px 147px; */
	z-index: 10;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.text-box-icon {
	width: 44px;
	height: 68px;
	position: absolute;
	right: 10px;
	bottom: 20px;
	background-image: url("../ui/Scene_text_icon_edn1.png");
	animation: 500ms ease-in-out infinite alternate running icon-bob;
}
.actor  {
	width: 960px;
	height: 760px;
	position: absolute;
	top: -20px;
	z-index: 3;
}

#preload-perm-elem {
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1000;
}
#preload-temp-elem {
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1000;
}
.tempPreloadImage{
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1000;
}
.permPreloadImage{
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1000;
}

#options{
	width: 100%;
	height: 100%;
	z-index: 10;
	background: black;
	position: absolute;
	top: 0px;
	font-family: ipagp;
	font-size: 18px;
	color: white;
	display: none;
}
#options-wrap{
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: repeat(5, 1fr);
	height: 100%;
	grid-gap: 15px;
	padding: 15px;
}
.option-sub-head{
	font-size: 40px;
	font-weight: bold;
}
.option-section{
	/* background-image: url("../ui/submenu.png");
	background-size: cover; */
	padding: 15px;
	border: 1px solid #333;
}
.option-section-big{
	/* background-image: url("../ui/submenu_large.png");
	background-size: cover; */
}
.option-section-wrap{
	padding: 15px;
}
.option-radio{
	display: grid;
	grid-template-columns: 100px 100px;
	grid-template-rows: 25px 25px 25px;
}
.option-num{
	background: black;
	color: white;
}
.option-range{
	display: grid;
	grid-template-columns: repeat(5, 50px);
	grid-template-rows: repeat(2, 1fr);
}
.option-sound{
	grid-row: 2/5;
}
.option-scene-select{
	grid-column: 1;
	grid-row: 1/2;
}
.option-scene-viewer{
	grid-column: 2;
	grid-row: 1/4;
}
.option-button{
	width: 150px;
	height: 75px;
	background: #ddd;
	border: none;
	font-size: 24px;
	font-weight: bold;
}
.option-button:active{
	background: #bbb;
}
input[type=radio]{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 99px;
	height: 40px;
	margin: 0px;
	cursor: pointer;
}
.radio-true {
	background-image: url("../ui/on_button_inactive.png");
	grid-row: 2/3;
	grid-column: 1;
}
.radio-true:checked{
	background-image: url("../ui/on_button_active.png");
}
.radio-true:active{
	background-image: url("../ui/on_button_active.png");
}
.radio-false{
	background-image: url("../ui/off_button_inactive.png");
	grid-row: 2/3;
	grid-column: 2;
}
.radio-false:checked{
	background-image: url("../ui/off_button_active.png");
}
.radio-false:active{
	background-image: url("../ui/off_button_active.png");
}
.radio-label{
	grid-row: 1;
	grid-column: 1/3;
	text-align: center;
}
#scene-radio-options{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.option-cg-viewer{
	grid-column: 2;
}

.range-label{
	grid-column: 1;
	grid-row: 1;
}
.range-radio-true{
	grid-column: 2/3;
	grid-row: 1;
}
.range-radio-false{
	grid-column: 4/5;
	grid-row: 1;
}
.range-option{
	grid-column: 1/5;
	grid-row: 2;
}
.range-number{
	grid-column: 5;
	grid-row: 2;
	width: 100%;
	height: 50%;
}
.option-scene-viewer-auto{
	border: 1px solid #444;
	padding: 10px;
	margin-top: 10px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.option-scene-viewer-auto > *{
	float: left;
}

#search{
	width: 100%;
	height: 100%;
	z-index: 11;
	background: black;
	position: absolute;
	top: 0px;
	font-family: ipagp;
	font-size: 18px;
	color: white;
	display: none;
}
.search-section{
	width: 100%;
	background: #444;
	padding: 5px 15px;
}
.search-section > input[type=text]{
	width: 85%;
}
.search-section > label{
	font-weight: bold;
}
#search-error {
	color: #da2f2f;
	font-weight: bold;
	position: relative;
	right: 30px;
	display: none;
	float: right;
}

#controls{
	width: 100%;
	height: 100%;
	z-index: 11;
	background: #444;
	position: absolute;
	top: 0px;
	font-family: ipagp;
	font-size: 18px;
	color: white;
	display: none;
}
.controls-section{
	width: 940px;
	background: #444;
	padding: 10px;
}
.controls-section:nth-child(odd){
	width: 100%;
	background: #333;
}
.controls-subhead{
	font-size: 40px;
	font-weight: bold;
}
.controls-content{
	padding: 5px;
}
.controls-section input{
	float: right;
	width: 100px;
	height: 50px;
	font-size: 24px;
	font-weight: bold;
	background: #ddd;
	border: none;
}
.controls-section input:active{
	background: #bbb;
}

/*
	20px from botttom
	26px from bottom
*/

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 7.3px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  background: rgba(246, 237, 88, 1.0);
  border-radius: 24.9px;
  border: 0.2px solid #4f4f4f;
}
input[type=range]::-webkit-slider-thumb {
  border: 0px;
  height: 44px;
  width: 44px;
  background: transparent;
  cursor: pointer;
  background-image: url("../ui/slider_handle.png");
  background-position: center;
  -webkit-appearance: none;
  margin-top: -16.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(246, 237, 88, 1.0);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  background: rgba(246, 237, 88, 1.0);
  border-radius: 24.9px;
  border: 0.2px solid #4f4f4f;
}
input[type=range]::-moz-range-thumb {
  border: 0px;
  height: 44px;
  width: 44px;
  background: transparent;
  cursor: pointer;
  background-image: url("../ui/slider_handle.png");
  background-position: center;
}